<div data-tipser-modular-product-id="5911c26c8aa0ce3d70cd607b">
  <div class="main-container">
    <div class="info-container">
      <div class="title-container">
        <div data-tipser-modular-product-title></div>
          <div data-tipser-modular-product-details></div>
      </div>
      <div class="price-container">
        <div data-tipser-modular-product-price></div>
      </div>
      <div class="title-container">
        <div data-tipser-modular-product-variant-selector></div>
      </div>
    </div>
    <div class="image-container">
      <div data-tipser-modular-product-image></div>
    </div>

  </div>
</div>
